.ipad_nav{
    background-color: #FAFAFC;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs{
    width: 100%;
    padding: 1% 10% 0 10%;
    /* height: 10vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.small_tabs{
    /* height: 8vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small_tabs img{
    width: 8vh;
    aspect-ratio: 1;
}

.small_tabs p{
    font-size: 0.7rem;
    padding: 5px;
}

.banner_bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 8% 10% 8% 10%;
    align-items: center;
    /* background-color: #FAFAFC; */
}

.banner_bar h1{
    font-size: 4.5rem;
    font-weight: 700;
}

.banner_bar p{
    font-size: 1.5rem;
    font-weight: 550;
}

.ad_video{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad_video video{
    width: 100%;
    height: 100%;
}

.vido_tag_in{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Explore */

.explore_head{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 8% 10% 8% 10%;
    align-items: center;
}

.explore_head h1{
    font-size: 3rem;
    font-weight: 550;
}

.explore_head p{
    font-size: 1.2rem;
    font-weight: 500;
    color: blue;
}

.products{
    display: flex;
    justify-content: space-around;
    padding:0 0 8% 10%;
    
    align-items: center;
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    overflow-x: scroll;
    /* justify-items: space-around; */
}

.product-tile-header img{
    /* padding: 0 20% 0 20%;    */
    width: 100%;
    height: auto;
}

.product-tile-header img:hover{
    transform: scale(1.02);
    transition: all 0.5s;
}

.colors_divs{
    width: 100%;
    height: 5vh;    
    display: flex;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin: 2% 2% 0 2%;
    background-color: transparent;
    box-shadow: inset 0px 0px 1px 1px #0000003c;
}

#c1{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;position: relative;
    z-index: -1;
    background-color: #E3E4E5;
}

#c2{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;position: relative;
    z-index: -1;
    background-color: #2E2C2E;
}

#c3{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;position: relative;
    z-index: -1;
    background-color: #E5E0D8;
}

#c4{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #D7E5E6;
}

#c5{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #F5F5F7;
}

#c6{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #6B696E;
}


#c7{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #E3E4E5;
}

#c8{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #6480A3;
}


#c9{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #DE6274;
}

#c10{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #F0D95B;
}

#c11{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #E3DCD1;
}

#c12{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #6B696E;
}

#c13{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #B9B8D1;
}

#c14{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    background-color: #6B696E;
}

.product-tile-header h1{
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 2vh;
    font-size: 1.5rem;
    font-weight: 700;
}

.product-tile-header h2{
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 2vh;
    font-size: 1rem;
    font-weight: 500;
}