.modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-1 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zoom__gb7kd3oi4526_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-1 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zoom__gb7kd3oi4526_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-1 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zoom__gb7kd3oi4526_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-1 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zoom__gb7kd3oi4526_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-1 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zoom__gb7kd3oi4526_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-1 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zoom__gb7kd3oi4526_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-2 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_sketchup__cul89754h6gm_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-2 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_sketchup__cul89754h6gm_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-2 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_sketchup__cul89754h6gm_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-2 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_sketchup__cul89754h6gm_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-2 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_sketchup__cul89754h6gm_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-2 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_sketchup__cul89754h6gm_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-3 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zinnia__ko7az85dzzmq_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-3 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zinnia__ko7az85dzzmq_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-3 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zinnia__ko7az85dzzmq_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-3 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zinnia__ko7az85dzzmq_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-3 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zinnia__ko7az85dzzmq_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-3 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_zinnia__ko7az85dzzmq_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-4 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_onform__chgk3kohrz7m_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-4 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_onform__chgk3kohrz7m_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-4 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_onform__chgk3kohrz7m_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-4 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_onform__chgk3kohrz7m_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-4 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_onform__chgk3kohrz7m_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-4 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_onform__chgk3kohrz7m_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-6 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_goodnotes__fnl1iba9icae_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-6 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_goodnotes__fnl1iba9icae_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-6 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_goodnotes__fnl1iba9icae_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-6 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_goodnotes__fnl1iba9icae_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-6 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_goodnotes__fnl1iba9icae_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-6 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_goodnotes__fnl1iba9icae_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-8 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_designer__glh7akocsyum_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-8 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_designer__glh7akocsyum_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-8 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_designer__glh7akocsyum_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-8 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_designer__glh7akocsyum_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-8 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_designer__glh7akocsyum_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-8 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_designer__glh7akocsyum_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-9 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_morpholio_trace__c2wcu9vxyys2_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-9 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_morpholio_trace__c2wcu9vxyys2_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-9 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_morpholio_trace__c2wcu9vxyys2_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-9 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_morpholio_trace__c2wcu9vxyys2_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-9 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_morpholio_trace__c2wcu9vxyys2_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-9 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_morpholio_trace__c2wcu9vxyys2_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-10 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_lightroom__cuqkthke746e_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-10 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_lightroom__cuqkthke746e_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-10 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_lightroom__cuqkthke746e_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-10 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_lightroom__cuqkthke746e_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-10 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_lightroom__cuqkthke746e_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-10 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_lightroom__cuqkthke746e_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-11 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_photo__e9lnqcs86w2m_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-11 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_photo__e9lnqcs86w2m_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-11 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_photo__e9lnqcs86w2m_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-11 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_photo__e9lnqcs86w2m_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-11 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_photo__e9lnqcs86w2m_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-landscape.app-11 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_affinity_photo__e9lnqcs86w2m_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-12 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_fresco__cynvi8yfwt6q_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-12 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_fresco__cynvi8yfwt6q_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-12 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_fresco__cynvi8yfwt6q_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-12 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_fresco__cynvi8yfwt6q_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-12 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_fresco__cynvi8yfwt6q_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-12 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_fresco__cynvi8yfwt6q_small_2x.jpg)
    }
}

.modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-14 glass-screen {
    background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_acrobat__fzvo4bvyxeq2_large.jpg);
}

@media (min-resolution:144dpi),
only screen and (min-resolution:1.5dppx) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-14 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_acrobat__fzvo4bvyxeq2_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-14 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_acrobat__fzvo4bvyxeq2_medium.jpg);
    }
}

@media only screen and (max-width:1068px)and (min-resolution:1.5dppx),
only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-14 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_acrobat__fzvo4bvyxeq2_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-14 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_acrobat__fzvo4bvyxeq2_small.jpg);
    }
}

@media only screen and (max-width:734px)and (min-resolution:1.5dppx),
only screen and (max-width:734px)and (min-resolution:144dpi) {
    .modal-l2.ipados-modal .subsection-3 .hardware-marquee-portrait.app-14 glass-screen {
        background-image: url(/in/ipad-air/images/overview/ipados/modal/apps/gallery/app_gallery_screen_adobe_acrobat__fzvo4bvyxeq2_small_2x.jpg)
    }
}